#createScriptModalBody{
	width:500px;
	height:380px;
	.createScriptModalBody1SelectProtocol{
		width:300px;
		height:280px;
	}
}
.selectRadio{
	left: 10%;
}
.buttonInLine{
	float: left;
}

#createScriptCorrelationModalBody{
	width:500px;
	height:380px;
}

.scriptParameterizationModalContent{
	width: 750px;
	height: 700px;
	#createScriptParameterizationModalBody{
		width:730px;
		height:580px;
		.createScriptParameterizationModalBodyContent{
			width: 100%;
			height: 100%;
			.createScriptParameterizationModalBodyContentLeft{
				width: 20%;
				height: 100%;
				float: left;
				border: 1px solid #eeeeee;
			}
			.createScriptParameterizationModalBodyContentRight{
				width: 80%;
				height: 100%;
				float: left;
				border: 1px solid #eeeeee;
				.rightTabContentDiv{
					width: 100%;
					height: 100%;
					.ScriptParameterizationModalBodyContentRightUpDiv{
						width: 100%;
						height: 30%;
						border: 1px solid #eeeeee;
						.divInLine{
							width: 100%;
							height: 33%;
							border: 1px solid #eeeeee;
							.form-group{
								width: 50%;
								float: left;
								label{
									width: 35%;
									height: 100%;
								}
								input{
									width: 65%;
									height: 100%;
								}
								select{
									width: 65%;
									height: 100%;
									option{
										width: 100%;
										height: 100%;
									}
								}
							}
						}
					}
					.ScriptParameterizationModalBodyContentRightDownDiv{
						width: 100%;
						height: 70%;
						border: 1px solid #eeeeee;
					}
				}
			}
		}
	}
}